<div class="json-block-cta-banner {{ "bg-" ~ background }}">
  {% include 'json_blocks:heading' with heading only %}
  {% include 'json_blocks:text' with text only %}
  {% include 'json_blocks:button' with cta only %}
</div>
